* {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --invalid-color: rgb(210, 45, 30);
    --valid-color: #0fc56d;
}

@font-face {
    font-family: "Paragraph";
    src: url(assets/fonts/abhaya-libre/AbhayaLibre-Regular.ttf);
}

@font-face {
    font-family: "MainTitle";
    src: url(assets/fonts/lucien-schoenschriftv-cat/Lucian\ Schoenschrift\ CAT.ttf);
}

@font-face {
    font-family: "FillForm";
    src: url(assets/fonts/enriqueta/Enriqueta-Regular.otf) format("opentype")
}

.flex-container {
    display: flex;
    height: 100vh;
}



.img-container {

    background: no-repeat url(assets/img/isaac-quesada-K0wcSifqL5c-unsplash.jpg);
    background-size: 120%;
    background-position: -60px -50px;
    width: 50%;
}

.img-container>p {
    display: block;
    top: 93vh;
    padding-top: 10px;
    line-height: 17px;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.531);
    text-align: center;

}

.img-container>p>a {
    color: white;
}

.flex-container>.right-container {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.right-container>.form-container {

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.form-container>form {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text,
section {
    padding: 10px 0;
}

.welcome {
    font-family: MainTitle, Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    color: #c59d0f;
}



form>section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

form>section:first-child {
    background-color: #f3f2f2;
    box-shadow: 0 1px 5px -1px rgb(80, 79, 79);
    padding: 20px 0;
}

section:first-child>p {
    flex: 0 0 30%;
}

.right-container p,
h1 {
    margin-left: 3%;

}


form p {
    margin-bottom: 5px;
}

p,
span {
    font-family: Paragraph, Arial, Helvetica, sans-serif;
}

section>h1 {
    flex-basis: 100%;
}


input {
    font-family: FillForm;
    border: 2px solid #d1cfcf;
}


input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
input[type="password"]:valid {
    border-color: var(--valid-color);
}

input[type="text"]:focus:valid,
input[type="email"]:focus:valid,
input[type="tel"]:focus:valid,
input[type="password"]:focus:valid {
    border-color: var(--valid-color);
    outline: var(--valid-color);
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="password"]:focus:invalid {
    border-color: var(--invalid-color);
    outline: var(--invalid-color);
}

section input[type="submit"] {
    background-color: #c59d0f;
    color: #fff;
    border-radius: 5px;
    border-color: #c59d0f;
    height: 2rem;
    width: 11rem;
}