/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "Paragraph";
    src: url(assets/fonts/abhaya-libre/AbhayaLibre-Regular.ttf);
}

@font-face {
    font-family: "MainTitle";
    src: url(assets/fonts/lucien-schoenschriftv-cat/Lucian\ Schoenschrift\ CAT.ttf);
}


.flex-container {
    display: flex;
}

.img-container>img {
    height: 100vh;
    display: block;
}

.flex-container>.right-container {
    flex-grow: 1;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.right-container>.form-container {

    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.form-container>form {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text,
section {
    padding: 10px 0;
}

.welcome {
    font-family: MainTitle, Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

form>section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

form>section:first-child {
    background-color: #FFF;
    box-shadow: 0 1px 5px -1px rgb(80, 79, 79);
    padding: 20px 0;
}

section:first-child>p {
    flex: 0 0 30%;
}

p,
h1 {
    margin-left: 5%;

}

form p {
    margin-bottom: 5px;
}

p,
span {
    font-family: Paragraph, Arial, Helvetica, sans-serif;
}

section>h1 {
    flex-basis: 100%;
}